:root{
    --font-Libre: 'Abhaya Libre', serif;
    --font-Serif: 'Noto Serif', serif;
    --font-Poppins: 'Poppins', sans-serif;
    --color-Poppins: #3D3935;
    --color-Arancio: #F39200;
    }

    /* header */
    .img-fluid{
        margin-left: 80px;
    }
    .text-dark{
        font-family: (var(--font-Poppins));
        font-size: 13px;
        font-weight: 500;
        line-height: 18.2px;
    }
    .nav-link:hover{
        background-color: #d6c1ad;
    }

    /* section class="flowers" */
      .img-wrap h3 {
        left: 0;
        top: 0;
      }
  
      .flowers{
        margin-top: 82px;
        background: url(../img/section.flowers.png) no-repeat;
      }
      .flowers-texst{
        margin-left: 55px;
        font-family: (var(--font-Libre));
        font-size: 60px;
        font-weight: 700;
        line-height: 103.5%;
      }
      .flowers-texst-p{
        margin-left: 55px;
        font-family: (var(--font-Poppins));
        font-size: 13px;
        font-weight: 500;
        line-height: 140%;
      }